@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap');

:root {
    --color-red: #F03C42;
    --color-white: #FFF;
    --color-black: #000;
    --bg-dark-blue: #222374;
    --bg-gray: #CCC;
}

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--color-red);
    height: 100px;
    display: flex;
    align-items: center;
}

nav h1 {
    color: var(--color-white);
    font-size: 18px;
}

nav img {
    padding: 5px;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

.navegacao {
    display: flex;
    justify-content: space-between;
}

.navegacao a {
    color: var(--color-white);
    text-decoration: none;
    font-size: 14px;
}

.container address {
    color: var(--color-white);
}

.bloco-modalities {
    background-color: var(--bg-dark-blue);
    padding: 20px; /*Ver essa medida dps*/
    margin: 20px 0;
    height: 106px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 9px;
}

.bloco-modalities h3 {
    color: var(--color-white);
}

.bloco-modalities p {
    color: var(--bg-gray);
}

#space {
    background-color: var(--bg-dark-blue);
    height: 418px;
    padding: 30px 470px; /*VER ESSA MEDIDA DPS*/
}

#space h2 {
    font-size: 32px;
    color: var(--color-white);
}

.bloco-space {
    background-color: var(--bg-gray);
    border-radius: 9px;
    margin: 20px 0; /*"espaço entre blocos*/
    height: 127px;
    padding: 20px; /*VER ESSA MEDIDA DPS*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#modalities {
    background-color: var(--color-white);
    height: 880px;
    padding: 20px 470px; /*VER ESSA MEDIDA DPS*/
}

#modalities h2 {
    color: var(--color-red);
    font-size: 32px;
    margin-bottom: 40px;
}

#rodape {
    background-color: var(--color-black);
    height: 262px;
    text-align: center;
    color: var(--color-white);
    padding: 50px;
}

#rodape a {
    text-decoration: none;
    color: var(--color-white);
}

#rodape-config {
    margin-bottom: 30px;
}

#rodape-config a {
    padding: 5px;
}