@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap');

:root {
    --color-red: #F03C42;
    --color-white: #FFF;
    --color-black: #000;
    --bg-dark-blue: #222374;
    --bg-gray: #CCC;
}

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

header {
    background-color: var(--color-red);
    height: 100px;
}

.header-content {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content h1 {
    color: var(--color-white);
    font-size: 18px;
}

.header-links-content {
    display: flex;
    align-items: center;
    width: 125px;
}

.header-links-content img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.header-links-content a {
    font-size: 14px;
    color: var(--color-white);
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

#space {
    background-color: var(--bg-dark-blue);
    height: 418px;
    padding: 25px;
}

#space h2 {
    font-size: 32px;
    color: var(--color-white);
    margin-bottom: 35px;
}

.bloco-space {
    background-color: var(--bg-gray);
    border-radius: 8px;
    margin: 25px 0; /*espaço entre blocos*/
    height: 127px;
    padding: 20px;
}

.bloco-space h3 {
    margin-bottom: 20px;
    font-size: 20px;
}

.bloco-space p {
    font-size: 14px;
}

#modalities {
    background-color: var(--color-white);
    height: 880px;
    padding: 20px; 
}

#modalities h2 {
    color: var(--color-red);
    font-size: 32px;
    margin-bottom: 40px;
}

.bloco-modalities {
    background-color: var(--bg-dark-blue);
    padding: 20px;
    margin: 20px 0;
    height: 106px;
    border-radius: 8px;
}

.bloco-modalities h3 {
    color: var(--color-white);
    font-size: 20px;
    margin-bottom: 20px;
}

.bloco-modalities p {
    color: var(--bg-gray);
    font-size: 14px;
}

footer {
    background-color: var(--color-black);
    height: 262px;
    padding: 40px;
    color: var(--color-white);
}

footer a, a:hover{
    color: var(--color-white);
}

.footer-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer-links-content {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.footer-links-content a{
    font-size: 14px;
}

.footer-links-content img {
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

.footer-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}
