* {
    margin: 0;
    padding: 0;
    Box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --font-size-normal: 400;
    --font-size-bold: 700;
    --bg-green: #38AF90;
    --bg-gray: #F0F0F0;
    --text-white: #FFF;
    --text-gray: #797979;
    --text-red: #DD7E92;
    --bg-dark-footer: #383838;
    --placeholder-color: #C4C4C4;

}

header {
    background-color: var(--bg-green);
    color: var(--text-white);
    height: 90px;
    display: flex;
    align-items: center;
    padding: 12px;
}

.container {
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav li{
    list-style-type: none;
}

nav h1 {
    font-size: 18px;
}

#news {
    background-color: var(--text-white);
    padding: 10px;
}

.flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-news {
    display: flex;
    justify-content: center;
    width: 202px;
    height: 36px;
    margin-bottom: 40px;
}

.title-news h2 {
    font-size: 24px;
    font-weight: var(--font-size-bold);
    color: var(--text-gray);
    margin-top: 30px;
    margin-bottom: 12px;
}

.card-news {
    background-color: var(--bg-gray);
    height: 493px;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px 10px;
    width: 300px
}

.title-card {
    color: var(--bg-green);
}

.resume-card {
    color: var(--text-gray);
    font-weight: var(--font-size-bold);
    font-size: 12px;
}

.date-card {
    color: var(--bg-green);
    font-size: 10px;
    margin-bottom: 15px;
}

.description-card {
    font-size: 10px;
    color: var(--text-gray);
}

.link-card {
    font-weight: var(--font-size-bold);
    font-size: 14px;
    color: var(--text-red);
    margin-top: 10px;
}

.button-news {
    background-color: var(--text-red);
    color: var(--text-white);
    border-radius: 8px;
    width: 244px;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--font-size-bold);
    font-size: 18px;
    margin: 5px 0 30px 0;
}

#games {
    background-color: var(--bg-gray);
    padding: 10px;
}

.title-game h2 {
    color: var(--bg-green);
    font-size: 24px;
    margin: 30px 0;
}

.card-game {
    width: 300px;
    height: 326px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.image-game {
    display: flex;
}

.image-game img {
    width: 300px;
    height: 168px;
    border-radius: 8px 8px 0 0;
}

.description-game {
    background-color: var(--text-white);
    height: 158px;
    border-radius: 0 0 8px 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.description-game h3 {
    color: var(--text-gray);
    font-size: 18px;
}

.company-game {
    color: var(--text-gray);
    font-size: 12px;
}

.rating-game {
    font-weight: var(--font-size-bold);
    color: var(--bg-green);
    font-size: 36px;
    margin-top: 20px;
}

#subscription {
    padding: 40px;
}

.subscription-title h2 {
    color: var(--text-gray);
    font-size: 24px;
    margin-bottom: 15px;
}

form {
    background-color: var(--bg-gray);
    height: 603px;
    width: 300px;
    border-radius: 8px;
    padding: 20px 10px;
}

.field-forms input {
    width: 280px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid var(--text-gray);
    padding: 20px;
    margin-top: 25px;
    font-size: 16px;
    /*color: var(--placeholder-color);*/
}

.questions {
    color: var(--text-gray);
}

.question-forms {
    margin-top: 20px;
    margin-bottom: 5px;
}
*.check-new {
    margin: 15px 0;
}

.buttons-forms { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
}

.buttons-forms input{ 
    width: 244px;
    height: 67px;
    border-radius: 8px;
    margin: 10px;
}

.buttons-forms-submit input{
    background-color: var(--text-red);
    color: var(--text-white);
    border: 2px solid var(--text-red);
    font-size: 18px;
    font-weight: var(--font-size-bold);
}

.buttons-forms-reset input{
    background-color: var(--text-white);
    color: var(--text-red);
    border: 2px solid var(--text-red);
    font-size: 18px;
    font-weight: var(--font-size-bold);
}

#footer-content {
    background-color: var(--bg-dark-footer);
    color: var(--text-white);
    height: 302px;
    /*width: 320px; VER DPS*/ 
}

#footer-content a {
    text-decoration: none;
    color: unset;
}

.footer-social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    font-size: 14px;
}

.footer-social-media a {
    margin: 5px;
}

.footer-rights {
    font-size: 14px;
    text-align: center;
    margin: 20px;
}

.footer-privacy {
    font-size: 14px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-privacy a {
    margin: 5px;
}