* {
    margin: 0;
    padding: 0;
    Box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --font-size-normal: 400;
    --font-size-bold: 700;
    --bg-green: #38AF90;
    --bg-gray: #F0F0F0;
    --text-white: #FFF;
    --text-gray: #797979;
    --text-red: #DD7E92;
    --bg-dark-footer: #383838;
}

header {
    background-color: var(--bg-green);
    color: var(--text-white);
    height: 90px;
    display: flex;
    align-items: center;
    padding: 12px;
}

.container {
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav li{
    list-style-type: none;
}

nav h1 {
    font-size: 18px;
}

#news {
    background-color: var(--text-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.title-news {
    display: flex;
    justify-content: center;
}

.title-news h2 {
    font-size: 24px;
    font-weight: var(--font-size-bold);
    color: var(--text-gray);
    margin-top: 30px;
    margin-bottom: 12px;
}

.card-news {
    background-color: var(--bg-gray);
    height: 493px;
    border-radius: 8px;
    margin-bottom: 50px;
    padding: 20px 10px;
    width: 19rem;
}

.title-card {
    color: var(--bg-green);
}

.resume-card {
    color: var(--text-gray);
    font-weight: var(--font-size-bold);
    font-size: 12px;
}

.date-card {
    color: var(--bg-green);
    font-size: 10px;
    margin-bottom: 15px;
}

.description-card {
    font-size: 10px;
    color: var(--text-gray);
}